.businessName{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 20px;
}

#businessLogo{
    width: 100px;
    height: auto;
}

.infoText{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: lighter;
    color:  rgb(0, 0, 0);
    margin: 20px;

}
    